.bwtable {
    border: 2px solid black;
    max-width: 90%;
    margin: 0 auto;
}
.bwtable th {
    border: 1px solid black;
    padding: 8px;
}
.bwtable td {
  border: 1px solid black;
  padding: 8px;
}

.bwtable .shaded {
  background-color: #d6d7d1;
}

@media (prefers-color-scheme: dark) {
  .bwtable .shaded {
    background-color: #1d1d1d;
  }
}

.bwtable .editColumn {
  width: 1%;
  white-space: nowrap;
  max-width: 100px;
}