html {
  min-width: 320px;
}

body {
  font-family: Helvetica, Arial, sans-serif !important;
  margin: 0;
  background-color: #fff;
  color: #333;
}

.MuiTypography-root {
  font-family: Helvetica, Arial, sans-serif !important;
}

@media (prefers-color-scheme: dark) {
  body {
    background-color: #333;
    color: #fff;
  }
}
